
body {
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-image: url('./resource/bg.png');
    background-position: center;
}

div {
    text-align: center;
}

footer {
    vertical-align: auto;
    margin-top: 115px;
    text-align: center;
}

.rounded-button {
    text-align: center;
    display: flex;
    color: #fff;
    border-radius: 20px;
    background: #171510;
    width: 18vw;
    height: 6vh;
    margin-top: 1.6vh;
    cursor: pointer;
    text-decoration: none;
}


@keyframes loading {
    0% {
        background-color: rgba(254, 255, 246, 0.75);
        transform: rotateX(-35deg);
    }
    100% {
        background-color: rgba(254, 255, 246, 0.95);
        transform: rotateX(0deg);
    }
}
.maindiv {
    animation: loading;
    animation-duration: 1.5s;
    border-radius: 1.5%;
    background-color: rgba(254, 255, 246, 0.95);
    text-align: center;
    align-items: center;
    margin: 0px auto;
    margin-top: 12.5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10vh;
    padding-bottom: 24vh;
    width: 18vw;
    position: relative;
}

.btndiv {
    margin: 0%;
    display: flexbox;
    position: absolute;
    bottom: 10%;
}


.describe {
    margin: 0%;
    text-align: center;
}

.name {
    margin: 1vh 0px 1vh 0px;
    font-size: 45px;
}

.intro {
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
    line-height: 3vh;
    font-weight: 300;
    font-size: 17px;
}

.avatar {
    border-radius: 50%;
    height: 15.5vh;
    width: 15.5vh;
 }

@media (max-width: 520px) {
    .maindiv {
        width: 260px;
    }
    .btn {

        margin-left: 20px;
        margin-right: 20px;
    }
    .btndiv{
        left: 52px;
    }
}
