
body {
    background-color: rgba(187, 204, 241, 0.6);
    background-blend-mode: multiply;
    background-image: url('./resource/bg.png');
    background-size: cover;
}

div {
    text-align: center;
}

footer {
    vertical-align: auto;
    margin-top: 115px;
    text-align: center;
}

.rounded-button {
    transition-duration: 0.5s;
    align-items: center;
    text-align: left;
    display: flex;
    color: #fff;
    justify-content: center;
    border-radius: 20px;
    background: #171510;
    width: 100%;
    height: 6vh;
    margin: 1.6vh 0px 0px 0px;
    cursor: pointer;
    text-decoration: none;
}

.rounded-button:hover {
    transition-duration: 0.5s;
    background: #27241d;
    opacity: 0.8;
}

@keyframes loading {
    0% {
        background-color: rgba(254, 255, 246, 0.75);
        transform: rotateX(-35deg);
    }
    100% {
        background-color: rgba(254, 255, 246, 0.85);
        transform: rotateX(0deg);
    }
}
.maindiv {
    animation: loading;
    animation-duration: 1.5s;
    border-radius: 1.5%;
    background-color: rgba(254, 255, 246, 0.85);
    text-align: center;
    align-items: center;
    margin: 0px auto;
    margin-top: 12.5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10vh;
    padding-bottom: 12vh;
    width: 18vw;
    position: relative;
}

.space{
    width: 0.5rem;
}

.btndiv {
    margin: 10% 0% 0% 0%;
    align-content: center;

}
.describe {
    margin: 0%;
    text-align: center;
}

.name {
    margin: 1vh 0px 1vh 0px;
    font-size: 45px;
}

.intro {
    margin: 0%;
    font-family:'Times New Roman', Times, serif;
    line-height: 3vh;
    font-weight: 300;
    font-size: 17px;
}

.avatar {
    border-radius: 50%;
    height: 15.5vh;
    width: 15.5vh;
 }

@media (max-width: 1200px) {
    .maindiv {
        width: 40vw;
    }
}
@media (max-width: 1020px) {
    .maindiv {
        width: 50vw;
    }
}
@media (max-width: 850px) {
    .maindiv {
        width: 60vw;
    }
}
@media (max-width: 500px) {
    .maindiv {
        width: 70vw;
    }
}
@media (max-width: 300px) { 
    .name{
        font-size: 32px;
    }
}
